<div class="confetti-container">
  @for (c of confettis; track $index) {
    <div class="confetti" [ngStyle]="c.style"></div>
  }
</div>

<header class="main-header">
  <h1 routerLink="/home" style="cursor: pointer;">ElPapelillo</h1>

  @if (!esRutaAcceso) {
    <div class="user-profile">
      
      <div class="user-info" (click)="toggleMenu()">
        <span class="user-name">{{ usuarioEmail || 'Usuario' }}</span>
        
        <div class="user-avatar">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>

      @if (menuAbierto) {
        <div class="dropdown-menu">
          <a (click)="irAEditar()">
            <i class="fas fa-user-edit"></i> Editar Datos
          </a>
          
          <hr>
          
          <a (click)="logout()" class="logout-link">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
          </a>
        </div>
      }
    </div>
  }
</header>

<div class="content-wrapper">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>