
<div class="content">
  <div *ngFor="let confetti of confettis" class="confetti" [ngStyle]="confetti.style"></div>

  <div class="login-card">
    <h2>Bienvenido</h2>
    <p>Inicia sesión en tu cuenta</p>

    <div *ngIf="errorMessage" class="error-box">
      <i class="fas fa-exclamation-circle"></i> {{ errorMessage }}
    </div>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="input-group">
        <label>Email</label>
        <input 
          type="text" 
          name="email" 
          [(ngModel)]="loginData.email" 
          (input)="errorMessage = ''"
          placeholder="Ingresa tu email" 
          required>
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <div class="password-container">
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            name="password" 
            [(ngModel)]="loginData.password" 
            placeholder="Ingresa tu contraseña" 
            required>
          
          <button type="button" class="toggle-eye" (click)="togglePassword()">
            <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </button>
        </div>
      </div>

      <button type="submit" class="btn btn-login" [disabled]="!loginForm.valid">
        Iniciar Sesión
      </button>
      
      <button type="button" class="btn btn-register" routerLink="/registro">
        Registrarse como Representante
      </button>

      <a (click)="olvidarPassword()" class="forgot-password" style="cursor: pointer;">
        ¿Olvidaste tu contraseña?
      </a>

      <div class="info-box">
        <i class="fas fa-info-circle"></i> ¿Deseas registrar una nueva organización? <br>
        Contacta con el administrador a través de: <br>
        <a [href]="'mailto:' + config.EMAIL_SOPORTE">
          {{ config.EMAIL_SOPORTE }}
        </a>
      </div>

    </form>
  </div>
</div>