/* Solo lo específico de la pantalla de Login */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 5;

    padding-top: 110px; 
    box-sizing: border-box; 
    
    
 
}

.login-card {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
    z-index:10;
}

.login-card h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 0 0 5px 0;
    color: #1A237E;
}

.login-card p {
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
    margin-bottom: 30px;
}

/* Responsivo para móvil */
@media (max-width: 480px) {
    .login-card { padding: 25px; }
    .login-card h2 { font-size: 26px; }
}

/* Formulario */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #FAFAFA;
}

/* Botones */
.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
    transition: transform 0.2s;
}

.btn:active {
    transform: scale(0.98);
}

.btn-login { background-color: #C6DFFF; color: #1A237E; }
.btn-register { background-color: #B9F6CA; color: #1B5E20; }

.forgot-password {
    color: #546E7A;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}